<launch>

   <!-- <master auto="start"/> -->
   <!-- Run the map server -->
   <arg name="map_file" default="/home/christian/luci_ws/navigation/luci_2d_nav/maps/luci-office-full-edited.yaml" />
   <arg name="node_names" default="['map_server']" />
   <arg name="autostart" default="true" />

   <arg name="sim_time" default="false" />

   <arg name="slam_file" default="/home/christian/luci_ws/navigation/luci_2d_nav/slam/slam_param.yaml" />

   <node name="map_server" pkg="nav2_map_server" exec="map_server" output="screen">
      <param name="yaml_filename" value="$(var map_file)" />
      <param name="use_sim_time" value="$(var sim_time)" />
   </node>

   <node name="life_cycle" pkg="nav2_lifecycle_manager" exec="lifecycle_manager" output="screen">
      <param name="node_names" value="$(var node_names)" />
      <param name="autostart" value="$(var autostart)" />
      <param name="use_sim_time" value="$(var sim_time)" />
   </node>


   <!-- <node name="slam_toolbox" pkg="slam_toolbox" exec="async_slam_toolbox_node" output="screen">
       <param name="slam_params_file" value="$(var slam_file)" />
       <param name="use_sim_time" value="$(var sim_time)" />
    </node> -->

   <!--- Run AMCL -->
   <!--
        <include file="$(find amcl)/examples/amcl_diff.launch" />
 
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
     <rosparam file="$(find luci_2d_nav)/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
     <rosparam file="$(find luci_2d_nav)/costmap_common_params.yaml" command="load" ns="local_costmap" />
     <rosparam file="$(find luci_2d_nav)/local_costmap_params.yaml" command="load" />
     <rosparam file="$(find luci_2d_nav)/global_costmap_params.yaml" command="load" /> 
     <rosparam file="$(find luci_2d_nav)/base_local_planner_params.yaml" command="load" />
    </node> -->

</launch>